

:root {
	--background-color: #F885C1;
	--background-color2: #F8D0D2;
	--color: #2B92E4;
	--text-color: #EFF2F8;
	--white: #FFF;
	--black: #000;
	--grey: #788287;
}
/*---------------

	Generel


----------------*/
html, body {
	height: 100%;
	font-size:16px;
	font-family: 'calibri', sans-serif, serif;
}
header,nav,main,section,article,footer{
	width:100%;
	max-width:100%;
}
html {
	overflow-y: scroll;
}
main{
	width:90%;
	margin: 0 auto;
}
hr {
    margin: 20px 0;
}
/*---------------

	Sticky footer


https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ 
----------------*/
body {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}
main{
	flex: 1;
}
footer{
	background-color: var(--color);
	padding: 17px 0;
    color: var(--text-color);
    text-align: center;
}
/*---------------

	Menu

----------------*/
header{
	height: auto;
	width: 100%;
}
/*  Horizontal navbar */
.horizontal-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--color);
}
  
.horizontal-menu li {
	float: left;
}
  
.horizontal-menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
.horizontal-menu  li a:hover {
	background-color: var(--background-color);
}

/*  Vertical menu */
.vertical-menu  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
}
.vertical-menu li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	background-color:var(--background-color);
	color: var(--text-color);
  }
  .vertical-menu  li a:hover:not(.active) {
	background-color: var(--color);
	color:var(--text-color);
}
.vertical-menu li a.active {
	background-color: var(--color);
	color: var(--text-color);
}

/*---------------

	Table

----------------*/
table, th, td { 
	outline: 1px solid;
	padding: 5px;
}
/*---------------

	Form
	Input

----------------*/
form{
	width:50%;
}
input[type=text], input[type=radio],input[type=checkbox], textarea, select {
	font-size: 16px;
	margin: 5px;
	padding: 5px;
}
input[type=text]::placeholder, textarea::placeholder{
	color: var(--grey);
}
input[type=button], input[type=submit], input[type=reset] {
    border: none;
    padding: 8px 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
}
button{
	color:var(--black);
    padding: 10px;
	font-size: 16px;
	border: none;
	margin: 10px;
	cursor: pointer;
}
/*---------------

	Toogle

----------------*/
.toogle {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  .toogle input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  .slider {
	background-color: var(--background-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  .slider:before {
	background-color: var(--white);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px
  }
  input:checked + .slider {
	background-color: var(--color);
  }
  input:checked + .slider:before {
    transform: translateX(26px);
	}
  .slider.round {
	border-radius: 34px;
  }
  .slider.round:before {
	border-radius: 50%;
  }


/*---------------

	Effects

----------------*/
.gradiant-center-2{
	background-image: linear-gradient(var(--background-color), var(--color));
}
button.gradiant-center-2:hover{
	background-image: linear-gradient(var(--color), var(--background-color));
}
.gradiant-right-2{
	background-image: linear-gradient(to right, var(--background-color), var(--color));
}
button.gradiant-right-2:hover{
	background-image: linear-gradient(to right, var(--color), var(--background-color));
}
.gradiant-center-3{
	background-image: linear-gradient(var(--color), var(--background-color), var(--color));
}
button.gradiant-center-3:hover{
	background-image: linear-gradient(var(--background-color), var(--color), var(--background-color));
}
.gradiant-right-3{
	background-image: linear-gradient(to right, var(--color), var(--background-color), var(--color));
}
button.gradiant-right-3:hover{
	background-image: linear-gradient(to right, var(--background-color), var(--color), var(--background-color));
}
.shadow {
	box-shadow: 5px 5px 15px #cfcfcf;
}
.circle{
	height: 300px;
	position: relative;
	width: 300px;
	border-radius: 50%;
}
.circleText{
	height: auto;
    width: 74%;
    text-align: center;
    margin: auto;
    padding: 55px 0;
}

